<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>API Data Processing</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Nettoyage et Normalisation des Données</h2>
        <form id="uploadForm">
            <input type="file" name="file" required>
            <button type="submit">Nettoyer les données</button>
        </form>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
